<div class="list-group mb-3">
    <a href="/" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#lessonCollapse" aria-expanded="false" aria-controls="lessonCollapse">
        Dersleri Gör <i class="bi bi-chevron-down float-end"></i>
    </a>
    <div class="collapse" id="lessonCollapse">
        <% lessons.forEach(lesson => { %>
            <a href="/dersler/<%= lesson.id %>" class="list-group-item list-group-item-action <%= selectedIndex == lesson.id ? "active" : "" %>"><%= lesson.name %></a>
        <% }) %>
    </div>
</div>