<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">E-Sınav Sistemi</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a href="/sinavlar/populer" class="nav-link">Popüler Sınavlar</a>
            </li>
            <li class="nav-item">
                <a href="/sss" class="nav-link">S.S.S.</a>
            </li>
            <li class="nav-item">
                <a href="/iletisim" class="nav-link">İletişim</a>
            </li>
        </ul>
    </div>
</nav>