<div class="bg-dark text-secondary px-4 py-5 text-center" style="border-radius: 3px;">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Sınavı Tamamladınız!</h1>
        <div class="col-lg-6 mx-auto">
            <% if (correctAnswers > wrongAnswers) { %>
                <p class="fs-5">
                    Tebrikler! Sınavı başarıyla tamamladınız ve doğru sayınız yanlış sayınızdan daha fazla.
                    Bu iyi yolda olduğunuzun bir göstergesi. Sıkı çalışmaya devam edin.
                </p>
                <p class="fs-5">
                    Doğru: <%= correctAnswers %> | Yanlış: <%= wrongAnswers %>
                </p>
                <% } else { %>
                    <p class="fs-5">
                        Tebrikler! Sınavı başarıyla tamamladınız fakat maalesef yanlış sayınız doğru sayınızdan daha fazla.
                        Ama moralinizi bozmayın, daha sıkı çalışarak netlerinizi yükseltebilirsiniz.
                    </p>
                    <p class="fs-5">
                        Doğru: <%= correctAnswers %> | Yanlış: <%= wrongAnswers %>
                    </p>
            <% } %>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/" class="btn btn-outline-light btn-lg px-4">Bitir</a>
            </div>
        </div>
    </div>
</div>