<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('../partials/head', title) %>
</head>
<body style="background-color: #f7f7f7">
    <%- include('../partials/nav') %>
    <div class="container mt-3">
        <div class="row">
            <%- include('../partials/question') %>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>